<html>
    <head>
        <title>Customer</title>
        <link rel="stylesheet" type="text/css" href="../css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="../css/customer_menu-main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/footer.css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <nav class="menu-container">
            <input type="checkbox" aria-label="Toggle menu" />
            <span></span>
            <span></span>
            <span></span>
          
            <a href="customer.html" class="menu-logo">
              <img src="../img/image-removebg-preview.png" alt="My Awesome Website"/>
            </a>
          
            <div class="menu">
              <ul>
                <li>
                  <a href="customer.html">
                    Home
                  </a>
                </li>
                <li>
                  <a href="customer_cuisine.html">
                    Menu
                  </a>
                </li>
                <li>
                  <a href="customer_cart.html">
                    Cart
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="index.html">
                    Sign Out
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        <h1 class="text-center menu-title">
            Main Course
        </h1>

        <div class="food-pref">
            <div class="food-pref-container">
                <form class="toggle">
        
                    <input type="radio" id="choice1" name="choice" value="veg">
                    <label for="choice1"><img src="../img/veg-toggle.png" width="30px" height="30px"/></label>
        
                    <input type="radio" id="choice2" name="choice" value="nonveg">
                    <label for="choice2"><img src="../img/nonveg-toggle.png" width="30px" height="30"/></label>
        
                    <div id="flap"><span class="content"></span></div>
        
                </form>
            </div>
        </div>

        <div class="flex">
        <div class="item-card">
            <h1>Rigatoni alla Carbonara</h1>
            <p>Chef's Special</p>
            <div class="item-pic">
                <center><img class="item-picture" src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_1100,c_fill,g_auto,h_619,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210211140233-03-classic-italian-dishes.jpg"/></center>
            </div>
            <div class="item-colors">
              <span class="" data-color="#7ed6df" data-pic="url(1.png)"></span>
            </div>
            <div class="item-info">
              <div class="item-price">$190</div>
              <a href="" class="item-button fa fa-shopping-cart"></a>
            </div>
        </div>

        <div class="item-card">
            <h1>Trofie al <br>Pesto</h1>
            <p>Chef's Special</p>
            <div class="item-pic">
                <center><img class="item-picture" src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_1100,c_fill,g_auto,h_619,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210211140254-04-classic-italian-dishes.jpg"/></center>
            </div>
            <div class="item-colors">
              <span class="" data-color="#7ed6df" data-pic="url(1.png)"></span>
            </div>
            <div class="item-info">
              <div class="item-price">$120</div>
              <a href="" class="item-button fa fa-shopping-cart"></a>
            </div>
        </div>

        <div class="item-card">
            <h1>Lasagne al <br>Forno</h1>
            <p>Chef's Special</p>
            <div class="item-pic">
                <center><img class="item-picture" src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_1100,c_fill,g_auto,h_619,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210211141204-05-classic-italian-dishes.jpg"/></center>
            </div>
            <div class="item-colors">
              <span class="" data-color="#7ed6df" data-pic="url(1.png)"></span>
            </div>
            <div class="item-info">
              <div class="item-price">$100</div>
              <a href="" class="item-button fa fa-shopping-cart"></a>
            </div>
        </div>
    </div>

    <div class="flex">
        <div class="item-card">
            <h1>Brodetto di <br>Ascoli</h1>
            <p>Chef's Special</p>
            <div class="item-pic">
                <center><img class="item-picture" src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_1100,c_fill,g_auto,h_619,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210211141225-06-classic-italian-dishes.jpg"/></center>
            </div>
            <div class="item-colors">
              <span class="" data-color="#7ed6df" data-pic="url(1.png)"></span>
            </div>
            <div class="item-info">
              <div class="item-price">$110</div>
              <a href="" class="item-button fa fa-shopping-cart"></a>
            </div>
        </div>

        <div class="item-card">
            <h1>Baccalà alla <br>Vicentina</h1>
            <p>Chef's Special</p>
            <div class="item-pic">
                <center><img class="item-picture" src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_1100,c_fill,g_auto,h_619,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210211141537-09-classic-italian-dishes.jpg"/></center>
            </div>
            <div class="item-colors">
              <span class="" data-color="#7ed6df" data-pic="url(1.png)"></span>
            </div>
            <div class="item-info">
              <div class="item-price">$230</div>
              <a href="" class="item-button fa fa-shopping-cart"></a>
            </div>
        </div>

        <div class="item-card">
            <h1>Polenta con <br>Cavoli</h1>
            <p>Chef's Special</p>
            <div class="item-pic">
                <center><img class="item-picture" src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_1100,c_fill,g_auto,h_619,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210211141552-10-classic-italian-dishes.jpg"/></center>
            </div>
            <div class="item-colors">
              <span class="" data-color="#7ed6df" data-pic="url(1.png)"></span>
            </div>
            <div class="item-info">
              <div class="item-price">$140</div>
              <a href="" class="item-button fa fa-shopping-cart"></a>
            </div>
        </div>
    </div>
    <br><br>

    <footer class="footer-distributed">
          
      <div class="footer-left">
      
      <h3>Fleur</h3>
      
      <p class="footer-company-name">Fleur Designers &copy; 2022</p>
      </div>
      
      <div class="footer-center">
      
      <div>
      <i class="fa fa-map-marker"></i>
      <p><a href="https://www.google.com/maps/place/Mumbai"><span>Mumbai </span> India</a></p>
      </div>
      
      <div>
      <i class="fa fa-bullhorn"></i>
      <p><a href="contact.html">Contact Us</a></p>
      </div>
      
      <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:">mail@mail.com
     </a></p>
      </div>
      
      </div>
      
      <div class="footer-right">
      
      <p class="footer-company-about">
      <span>About the company</span>
      Fleur Design is a company founded by some students of MPSTME NMIMS Mumbai as a Web Programming project.
      </p>
      
      <div class="footer-icons">
      
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
      
      </div>
      
      </div>
      
      </footer>

    </body>

    <script>
        const st = {};

st.flap = document.querySelector('#flap');
st.toggle = document.querySelector('.toggle');

st.choice1 = document.querySelector('#choice1');
st.choice2 = document.querySelector('#choice2');

st.flap.addEventListener('transitionend', () => {

    if (st.choice1.checked) {
        st.toggle.style.transform = 'rotateY(-15deg)';
        setTimeout(() => st.toggle.style.transform = '', 400);
    } else {
        st.toggle.style.transform = 'rotateY(15deg)';
        setTimeout(() => st.toggle.style.transform = '', 400);
    }

})

st.clickHandler = (e) => {

    if (e.target.tagName === 'LABEL') {
        setTimeout(() => {
            st.flap.children[0].textContent = e.target.textContent;
        }, 250);
    }
}

document.addEventListener('DOMContentLoaded', () => {
    st.flap.children[0].textContent = st.choice2.nextElementSibling.textContent;
});

document.addEventListener('click', (e) => st.clickHandler(e));
    </script>

</html>
