<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/footer.css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <style>
        body{
            background-color: black;
        }

        .parent {
        position: relative;
        top: 0;
        left: 0;
        height: 100vh;
        margin: 0;
        padding: 0;
        margin-bottom: -27px;
        }

        .image1 , .image2 , .image3 {
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        max-height: 33vh;
        max-width: 100vw;
        }

    </style>

    <body>
        <div class="parent">
            <a href="customer_menu-appetizers.html" ><img class="image1" src="../img/cuisine1.png" /></a>
            
            <a href="customer_menu-main.html" ><img class="image3" src="../img/cuisine3.png" /></a>

            <a href="customer_menu-dessert.html" ><img class="image2" src="../img/cuisine2.png" /></a>
          </div>

          <footer class="footer-distributed">
          
            <div class="footer-left">
            
            <h3>Fleur</h3>
            
            <p class="footer-company-name">Fleur Designers &copy; 2022</p>
            </div>
            
            <div class="footer-center">
            
            <div>
            <i class="fa fa-map-marker"></i>
            <p><a href="https://www.google.com/maps/place/Mumbai"><span>Mumbai </span> India</a></p>
            </div>
            
            <div>
            <i class="fa fa-bullhorn"></i>
            <p><a href="contact.html">Contact Us</a></p>
            </div>
            
            <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:">mail@mail.com
           </a></p>
            </div>
            
            </div>
            
            <div class="footer-right">
            
            <p class="footer-company-about">
            <span>About the company</span>
            Fleur Design is a company founded by some students of MPSTME NMIMS Mumbai as a Web Programming project.
            </p>
            
            <div class="footer-icons">
            
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
            
            </div>
            
            </div>
            
            </footer>
    </body>
</html>